<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tic Tac Toe</title>
        <link rel="stylesheet" type="text/css" href="tictac.css">
    </head>
    <body>
        <div id="app">
            <!--<div v-for="(b, i) in board">{{i}} {{b}}</div>-->
            <div class="info" v-if="!isPlayerChoosen">Choose player: </div>
            <button class="choosePlayer" v-if="!isPlayerChoosen" v-on:Click="choosePlayer(1)">x</button>
            <button class="choosePlayer" v-if="!isPlayerChoosen" v-on:Click="choosePlayer(2)">o</button>

            <div class="info" v-if="x || o">current player: </div>
            <div class="info" v-if="x">x</div>
            <div class="info" v-if="o">o</div>

            <table>
                <tr>
                <td><button v-on:Click="updateBoard(0)" :disabled="isClicked[0] || winnerTest">{{board[0]}}</button></td>
                <td><button v-on:Click="updateBoard(1)" :disabled="isClicked[1] || winnerTest">{{board[1]}}</button></td>
                <td><button v-on:Click="updateBoard(2)" :disabled="isClicked[2] || winnerTest">{{board[2]}}</button></td>
                </tr>

                <tr>
                <td><button v-on:Click="updateBoard(3)" :disabled="isClicked[3] || winnerTest">{{board[3]}}</button></td>
                <td><button v-on:Click="updateBoard(4)" :disabled="isClicked[4] || winnerTest">{{board[4]}}</button></td>
                <td><button v-on:Click="updateBoard(5)" :disabled="isClicked[5] || winnerTest">{{board[5]}}</button></td>
                </tr>

                <tr>
                <td><button v-on:Click="updateBoard(6)" :disabled="isClicked[6] || winnerTest">{{board[6]}}</button></td>
                <td><button v-on:Click="updateBoard(7)" :disabled="isClicked[7] || winnerTest">{{board[7]}}</button></td>
                <td><button v-on:Click="updateBoard(8)" :disabled="isClicked[8] || winnerTest">{{board[8]}}</button></td>
                </tr>
            </table>

            <div class="winner">Winner: {{winner}}</div>
            <button class="clear" v-on:Click="clearBoard();">CLEAR</button>

        </div> <!--app-->

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="tictac.js"></script>
    </body>
</html>