<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tic Tac Toe</title>
        <link rel="stylesheet" type="text/css" href="tictac.css">
    </head>
    <body>
        <div id="app">
            <div v-for="(b, i) in board">{{i}} {{b}}</div>

            <div>current player: </div>
            <div v-if="x">x</div>
            <div v-if="o">o</div>

            <table>
                <tr>
                <td><button v-on:Click="updateBoard(0)">{{board[0]}}</button></td>
                <td><button v-on:Click="updateBoard(1)">{{board[1]}}</button></td>
                <td><button v-on:Click="updateBoard(2)">{{board[2]}}</button></td>
                </tr>

                <tr>
                <td><button v-on:Click="updateBoard(3)">{{board[3]}}</button></td>
                <td><button v-on:Click="updateBoard(4)">{{board[4]}}</button></td>
                <td><button v-on:Click="updateBoard(5)">{{board[5]}}</button></td>
                </tr>

                <tr>
                <td><button v-on:Click="updateBoard(6)">{{board[6]}}</button></td>
                <td><button v-on:Click="updateBoard(7)">{{board[7]}}</button></td>
                <td><button v-on:Click="updateBoard(8)">{{board[8]}}</button></td>
                </tr>
            </table>

        </div> <!--app-->

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="tictac.js"></script>
    </body>
</html>